<% provide(:title,@taxon.name) %>
<%= render 'light_section_page_header',taxon_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar',taxonomies: @taxonomies %>
      <%= render 'product',products: @products %>
    </div>
  </div>
</section>
<%= render 'light_section_partner' %>